<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <p id="heading">TEXT SUMMARIZATION</p>
        <h1>Summary</h1>
        <p><%= SummaryText %></p>
    </body>
</html>